<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow>
  <appSettings>
    <!--
      Choose on of the following drivers:
      InternetExplorer
      Chrome
      Firefox
    -->
    <add key="DriverToUse" value="Firefox" />
    <add key="TargetUrl" value="http://demo.testfire.net/" />
    <add key="ImplicitlyWait" value="3" />
    <add key="PageLoadTimeout" value="10" />
  </appSettings>
</configuration>